@charset "UTF-8";

@font-face {
  font-display: swap;
  font-weight: 300;
  font-family: 'Geometria';
  font-style: normal;
  src: url(../fonts/Geometria-Light.woff2) format('woff2');
}

@font-face {
  font-display: swap;
  font-weight: 400;
  font-family: 'Geometria';
  font-style: normal;
  src: url(../fonts/Geometria-Regular.woff2) format('woff2');
}

@font-face {
  font-display: swap;
  font-weight: 500;
  font-family: 'Geometria';
  font-style: normal;
  src: url(../fonts/Geometria-Medium.woff2) format('woff2');
}

@font-face {
  font-display: swap;
  font-weight: 700;
  font-family: 'Geometria';
  font-style: normal;
  src: url(../fonts/Geometria-Bold.woff2) format('woff2');
}

@font-face {
  font-display: swap;
  font-weight: 900;
  font-family: 'Geometria';
  font-style: normal;
  src: url(../fonts/Geometria-ExtraBold.woff2) format('woff2');
}

@font-face {
  font-display: swap;
  font-weight: 400;
  font-family: 'Circe';
  font-style: normal;
  src: url(../fonts/Circe-Regular.woff2) format('woff2');
}

@font-face {
  font-display: swap;
  font-weight: 700;
  font-family: 'Circe';
  font-style: normal;
  src: url(../fonts/Circe-Bold.woff2) format('woff2');
}

:root {
  --color-primary: #e02d71;
  --grid-gap: 30px;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
::after,
::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.hidden {
  display: none;
}

body {
  min-width: 320px;
  min-height: 100vh;

  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: 'Geometria', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.3;
  color: #222;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body * {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

a {
  text-decoration: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;

  border: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.container {
  width: 100%;
  max-width: 1144px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.button {
  position: relative;
  display: inline-block;
  padding: 25px 15px;
  border: 0;
  font: inherit;
  background-color: transparent;

  font-family: 'Circe', 'Arial', sans-serif;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s ease;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button--primery {
  background-color: var(--color-primary);
  border: 0;
  color: #fff;
  font-size: 13px;
}

.button--primery:not(:disabled):focus-visible,
.button--primery:not(:disabled):hover {
  background-color: #150c26;
}

.button--primery:not(:disabled):active {
  background-color: var(--color-primary);
}

.button--second {
  background-color: transparent;
  border: 1px solid #222;
  padding: 15px;
  color: #222;
  font-size: 14px;
}

.button--second:not(:disabled):focus-visible,
.button--second:not(:disabled):hover {
  background-color: #222;
  color: #fff;
}

.button-del {
  border: 0;
  font: inherit;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
  width: 20px;
  height: 20px;
}

.button__text {
  transition: all 0.2s;
}

.button--loading .button__text {
  visibility: hidden;
  opacity: 0;
}

.button--loading::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

.button--ok {
  background-color: #2de078;
  position: relative;
}

.button--ok:not(:disabled):hover {
  background-color: #166b39;
}

.catalog__button::after {
  content: 'Перейти в корзину';
  display: block;
  position: absolute;
  padding: 12px;
  width: max-content;
  top: 0;
  left: 0;
  font-size: 12px;
  opacity: 0;
  background-color: #89898999;
  transform: translate(calc(-100% - 12px), 0);
  transition: all 0.3s ease;
  pointer-events: none;
}

.button--ok:hover.button--ok::after {
  opacity: 1;
}

.header {
  background-color: #fff;
}

.header__wrapper {
  display: flex;
  width: 100%;
  gap: var(--grid-gap);
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 23px;
  padding-bottom: 23px;
  border-bottom: 1px solid #e9e9e9;
}

.header__info {
  font-size: 12px;
  text-transform: uppercase;
}

.header__logo {
  display: block;
  height: 33px;
  margin: 0 auto;
  color: #150c26;
}

.header__logo:focus-visible,
.header__logo:hover {
  color: var(--color-primary);
}

.header__tel {
  margin-right: 0;
  font-size: 14px;
  color: #000;
}

.header__cart {
  position: relative;
  height: 27px;
}

.header__count {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--color-primary);
  padding: 3px;
  min-width: 16px;
  height: 16px;
  border-radius: 8px;
  font-size: 10px;
  line-height: 1;
  font-weight: 500;
  color: #fff;
  text-align: center;
}

.content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-top: 35px;
  padding-bottom: 100px;
}

.content__top {
  margin-bottom: 35px;
}

.content__top--catalog {
  margin-left: 310px;
  text-align: center;
}

.content__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.content__breadcrumbs {
  margin-bottom: 10px;
}

.content__title {
  margin: 10px 0;
  font-weight: 800;
  font-size: 24px;
  line-height: 54px;
  text-transform: uppercase;
}

.content__title span {
  font-family: 'Geometria', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 18px;
  vertical-align: top;
  color: #000;
}

.content__info {
  margin-left: 12px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1;
  color: #9d9d9d;
}

.content__catalog {
  display: grid;
  grid-template-columns: minmax(min-content, 290px) 1fr;
  gap: var(--grid-gap);
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.filter__form {
  /* padding: 0 25px 60px; */
}

.filter__submit {
  width: 100%;
  margin-bottom: 15px;
}

.filter__reset {}

.form__block {
  border: 0;

  margin: 0 0 35px;
}

.form__legend {
  margin-bottom: 12px;
  font-family: 'Geometria', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 1;
  color: #737373;
}

.form__label {
  position: relative;
  display: block;
  color: #222;
}

.form__label:not(:last-child) {
  /* margin-bottom: 25px; */
}

.form__label--price::after {
  content: '₽';
  position: absolute;
  top: 32px;
  right: 20px;
  font-size: 16px;
  line-height: 1;
  color: #222;
}

.form__label--select::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 14px;
  height: 7px;
  background-image: url('../src/assets/icon-arrow-bottom.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.form__label--small::after {
  right: 5px;
}

.form__label--small select {
  height: 35px;
  padding: 6px 25px 6px 10px;
}

.form__value {
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 12px;
  line-height: 1;
  color: #737373;
  font-weight: 300;
}

.form__input {
  padding: 28px 45px 13px 20px;
  width: 100%;
  height: 65px;
  border-radius: 1px;
  border: 1px solid transparent;
  background-color: #fafafa;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: #222;
  font-size: 16px;
  font-family: inherit;
  line-height: 1;
}

.form__input:focus,
.form__input:hover {
  outline: 0;
  border-color: #222;
}

.form__input--area {
  height: 140px;
  resize: none;
}

.form__select {
  width: 100%;
  height: 52px;
  border-radius: 0;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 14px 35px 14px 18px;
  color: #222;
  font-size: 16px;
  font-family: inherit;
  line-height: 1;
}

.form__counter,
.form__counter button {
  display: flex;
  align-items: center;
  width: 150px;
  height: 70px;
  /* background-color: #fff */
}

.form__counter button {
  font: inherit;
  background-color: transparent;

  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #e2e2e2;
  width: 37px;
  height: 37px;
  flex-shrink: 0;
  cursor: pointer;
  transition: all 0.2s ease;
}

.form__counter button:focus-visible,
.form__counter button:hover {
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
}

.form__counter button:active {
  color: #fff;
  background-color: #222;
  border: 0px solid transparent;
}

.form__counter input {
  padding: 23px 5px;
  height: 70px;
  width: 70px;
  border-radius: 0;
  background-color: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #222;
  font: inherit;
  font-size: 24px;
  line-height: 1;
  text-align: center;
}

.form__error {
  position: absolute;
  bottom: -17px;
  left: 20px;
  font-size: 11px;
  line-height: 14px;
  color: var(--color-primary);
}

.cart__options {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--grid-gap);
}

.cart__option-item {
  position: relative;
}

.cart__options .form__error {
  top: 12px;
  left: 0;
}

.form__error-block {
  padding: 25px 30px;
  border: 3px solid var(--color-primary);
  border-radius: 1px;
}

.form__error-block h4 {
  margin: 0 0 4px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: var(--color-primary);
}

.form__error-block p {
  font-size: 13px;
  color: #000;
}

.colors {
  margin: auto 0 0 0;
  height: 52px;

  list-style: none;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.colors--black {
  --border-color: #222;
}

.colors__item:not(:last-child) {
  margin-right: 4px;
}

.colors__label {
  position: relative;
  cursor: pointer;
  display: block;
  border-radius: 50%;
  padding: 3px;
}

.colors__value,
.colors__value::before {
  /* border-radius: 50%; */
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.colors__value {
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #e9e9e9;
  box-shadow: 0px 0px 3px 3px rgb(0 0 0 0.1);
}

.colors__value::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 26px;
  height: 26px;
  border: 1px solid transparent;
}

.colors__label:focus .colors__value::before,
.colors__label:hover .colors__value::before,
.colors__radio:checked~.colors__value::before {
  border-color: var(--border-color);
}

.colors__radio:focus~.colors__value::before {
  opacity: 0.7;
}

.check-list {
  list-style: none;
}

.check-list__item:not(:last-child) {
  margin-bottom: 13px;
}

.check-list__label {
  display: block;
  cursor: pointer;
}

.check-list__desc {
  position: relative;
  display: block;
  padding-left: 27px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 16px;
  line-height: 1;
}

.check-list__desc::after,
.check-list__desc::before {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.check-list__desc::before {
  left: 0;
  width: 12px;
  height: 12px;
  background-color: #fff;
  border: 1px solid #222;
}

.check-list__desc::after {
  opacity: 0;
  left: 3px;
  width: 6px;
  height: 6px;
  background-color: var(--color-primary);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.check-list__desc span {
  color: #737373;
}

.check-list__label:focus .check-list__desc::after,
.check-list__label:hover .check-list__desc::after {
  opacity: 0.3;
}

.check-list__check:checked~.check-list__desc::after {
  opacity: 1;
}

.breadcrumbs {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.breadcrumbs__item {
  position: relative;
}

.breadcrumbs__item:not(:last-child) {
  padding-right: 35px;
}

.breadcrumbs__item:not(:last-child)::after {
  content: '—';
  position: absolute;
  top: 50%;
  right: 13px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #b9b9b9;
}

.breadcrumbs__link {
  font-size: 14px;
  line-height: 1;
  color: #b9b9b9;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.breadcrumbs__link[href]:focus,
.breadcrumbs__link[href]:hover {
  color: #222;
}

.pics__wrapper {
  position: relative;
  margin-bottom: 20px;
  height: 570px;
}

.pics__item {
  width: 100%;
  height: 100%;
}

.pics__list {
  list-style: none;
  display: grid;
  align-items: end;
  grid-template-columns: repeat(5, 1fr);
  gap: var(--grid-gap);
}

.pics__link {
  display: block;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.pics__image {
  object-fit: cover;
}

.pics__link:focus,
.pics__link:hover {
  border-color: var(--color-primary);
}

.pics__link--current {
  border-color: var(--color-primary);
}

.tabs {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #e7e7e7;
}

.tabs__item:not(:last-child) {
  margin-right: 20px;
}

.tabs__link {
  position: relative;
  display: block;
  padding: 15px 25px;
  font-size: 18px;
  color: #b9b9b9;
  cursor: pointer;
}

.tabs__link::after {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 20px;
  background-color: transparent;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.tabs__link:focus::after,
.tabs__link:hover::after {
  bottom: -1px;
  background-color: var(--color-primary);
}

.tabs__link--current {
  color: #222;
  font-weight: 700;
}

.tabs__link--current::after {
  bottom: -1px;
  background-color: var(--color-primary);
}

.cart__field {
  grid-row: 1/3;
}

.cart__list {
  list-style: none;
}

.cart__item:not(:last-child) {
  margin-bottom: var(--grid-gap);
  border-bottom: 1px solid #e9e9e9;
}

.cart__form {
  display: grid;
  grid-template-columns: 1fr minmax(min-content, 370px);
  grid-template-rows: auto 1fr;
  gap: 20px 50px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.cart__block {
  border: 1px solid #dedede;
  border-radius: 1px;
  padding: 35px 30px;
}

.cart__button {
  margin-top: 20px;
  width: 100%;
}

.cart__desc,
.cart__price {
  margin: 0 0 15px;
  font-size: 16px;
  line-height: 22px;
}

.cart__price {
  font-size: 30px;
  line-height: 48px;
}

.cart__price span {
  font-weight: 500;
  font-size: 34px;
  line-height: 48px;
}

.cart__total-count {
  text-align: right;
}

.cart__data {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px var(--grid-gap);
  padding-bottom: 25px;
  margin-bottom: 15px;
}

.cart__data label:not(:nth-child(4)):not(:nth-child(3)) {
  grid-column: 1/-1;
}

.cart__title {
  margin: 0 0 20px;
  font-family: 'Circe', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

.cart__options:not(:last-child) {
  margin-bottom: 40px;
}

.cart__orders {
  list-style: none;
  padding: 0 30px 25px;
  margin: 0 -30px 25px;
  border-bottom: 1px solid #dedede;
}

.cart__order {
  display: grid;
  grid-template-columns: 1fr 90px;
  grid-gap: 5px 20px;
}

.cart__order:not(:last-child) {
  margin-bottom: 20px;
}

.cart__order h3 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.cart__order b {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
}

.cart__order-price {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
}

.cart__order span {
  font-size: 12px;
  line-height: 1;
  color: #9d9d9d;
}

.cart__total {
  display: grid;
  grid-template-columns: 1fr 90px;
  align-items: end;
}

.cart__total p {}

.cart__total p:not(:last-child) {
  margin-bottom: 5px;
}

.cart__error {
  grid-column: 2/3;
}

.cart__message {
  margin: 0 0 50px;
  font-size: 16px;
  line-height: 24px;
  color: #000;
}

.cart__sku {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  width: 100%;
}

.product {
  display: flex;
  align-items: flex-start;
  align-content: center;
  gap: calc(var(--grid-gap) / 2) var(--grid-gap);
}

.product__pic {
  align-self: flex-start;
  min-width: 100px;
  flex-basis: 160px;
}

.product__content {
  display: flex;
  width: 100%;
  gap: var(--grid-gap);
  justify-content: space-between;
}

.product__title-wrap {}

.product__title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.product__info-wrap {
  display: flex;
  flex-direction: column;
  gap: calc(var(--grid-gap) / 2);
}

.product__info {
  font-size: 14px;
  line-height: 1;
  color: #737373;
  white-space: nowrap;
}

.product__info--color span {
  position: relative;
  display: inline-block;
  padding-left: 30px;
  vertical-align: top;
}

.options__value::before,
.product__info--color span i {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  /* border-radius: 50% */
}

.product__info--color span i {
  left: 5px;
  display: block;
  border: 1px solid #ccc;
}

.product__info span {
  color: #222;
}

.product__size {
  color: #b9b9b9;
}

.product__size span {
  color: #222;
}

.product__code {
  grid-column: 2/3;
  grid-row: 4/5;
  font-size: 12px;
  color: #b9b9b9;
}

.product__price {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 500;
  height: 40px;
}

.product__del {
  display: flex;
  height: 40px;
  align-items: center;
}

.product__counter-wrap {
  display: flex;
}

.product__counter {
  width: min-content;
  height: min-content;

  justify-content: start;
  align-items: start;
}

.product__counter input {
  padding: 10px 5px;
  height: 40px;
  width: 55px;
}

.product__price {
  width: 100px;
}

.options {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--grid-gap);
}

.options__label {
  display: block;
  height: 100%;
  cursor: pointer;
}

.options__value {
  position: relative;
  display: block;
  padding: 35px 30px 35px 67px;
  background-color: #fff;
  border: 1px solid #dedede;
  border-radius: 2px;
  font-size: 14px;
  line-height: 1;
  color: #222;
}

.options__value::before {
  content: '';
  left: 35px;
  border: 1px solid #222;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.options__label:hover .options__value {
  background-color: rgba(224, 45, 113, 0.2);
}

.options__label:hover .options__value::before {
  border: 4px solid #fff;
}

.options__radio:focus~.options__value {
  background-color: rgba(224, 45, 113, 0.2);
}

.options__radio:focus~.options__value::before {
  background-color: #222;
}

.options__radio:checked~.options__value {
  background-color: var(--color-primary);
  color: #fff;
}

.options__radio:checked~.options__value::before {
  border: 4px solid #fff;
}

.dictionary {
  list-style: none;
}

.dictionary__item {
  display: grid;
  grid-template-columns: 170px 1fr;
  gap: var(--grid-gap);
  font-size: 16px;
  line-height: 24px;
}

.dictionary__item:not(:last-child) {
  margin-bottom: 30px;
}

.dictionary__key {
  opacity: 0.6;
  font-weight: 300;
}

.sizes {
  list-style: none;
  display: flex;
  align-items: center;
  color: #222;
}

.sizes--primery {
  color: #898989;
}

.sizes__item:not(:last-child) {
  margin-right: 5px;
}

.sizes__label {
  cursor: pointer;
  display: block;
}

.sizes__value {
  display: block;
  min-width: 50px;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  color: var(--text-color);
  transition: all 0.2s ease;
}

.sizes__label:focus .sizes__value,
.sizes__label:hover .sizes__value {
  font-weight: 500;
  color: var(--text-current);
}

.sizes__radio:checked~.sizes__value {
  font-weight: 500;
  color: var(--text-current);
}

.sizes__radio:focus~.sizes__value {
  opacity: 0.7;
}

.pagination {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination__item:first-child {
  margin-right: 25px;
}

.pagination__item:last-child {
  margin-left: 25px;
}

.pagination__link {
  display: block;
  padding: 13px 3px;
  height: 40px;
  min-width: 40px;
  font-size: 16px;
  line-height: 1;
  color: #d1d1d1;
  text-align: center;
  transition: all 0.2s ease;
  cursor: pointer;
}

.pagination__link[href]:not(:disabled):focus,
.pagination__link[href]:not(:disabled):hover {
  color: #222;
}

.pagination__link--current {
  color: #222;
  font-weight: 700;
  pointer-events: none;
}

.pagination__link--arrow {
  border: 1px solid #e2e2e2;
  border-radius: 50%;
}

.pagination__link--arrow:focus,
.pagination__link--arrow:hover {
  border-color: #222;
}

.pagination__link--disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.pagination__link--disabled:focus,
.pagination__link--disabled:hover {
  border-color: #e2e2e2;
}

.catalog {
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.catalog__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--grid-gap);
  margin: 0 0 70px;
}

.catalog__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 200px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
}

.catalog__button {
  padding: 10px 18px;
  transition: all 0.3s ease-in-out;
}

.catalog__item:hover {
  box-shadow: 1px 1px 3px 0px #150c2633;
  /* transform: scale(1.01); */
}

.catalog__item-content {
  display: flex;
  flex-direction: column;
  padding: 0 12px;
  gap: 8px;
}

.catalog__pics-wrapper {
  height: 100%;
}

.catalog__pic {
  position: relative;
  display: block;
  height: 270px;
  margin-bottom: 20px;
  flex-grow: 2;
  overflow: hidden;
}

.catalog__pic img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.catalog__title {
  margin: 0 0 10px;
  height: 2em;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #222;
}

.catalog__title a {
  color: #222;
  transition: all 0.2s ease;
}

.catalog__title a:focus,
.catalog__title a:hover {
  opacity: 0.6;
}

.catalog__price {
  display: block;
  color: var(--color-primary);
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}

.catalog__pagination {
  margin-top: auto;
}

.catalog__size-box {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: white;
  opacity: 0;
  transform: translateY(100%);
  transition: all 0.3s ease;
}

.catalog__size-box .form__select {
  background-color: white;
  outline: none;
  outline-offset: -1px;
}

.catalog__size-box .form__select:focus-visible {
  outline: 1px solid var(--color-primary);
}

.catalog__size-box .form__label {}

.catalog__size-box .form__label select {
  height: 100%;
}

.catalog__item:hover .catalog__size-box {
  transform: translateY(0);
  opacity: 1;
}

.item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: var(--grid-gap) var(--grid-gap);
  align-items: flex-start;
}

.item__code {
  font-size: 14px;
  line-height: 1;
  color: #b9b9b9;
}

.item__title {
  margin: 10px 0 22px;
  font-size: 40px;
  line-height: 50px;
  font-weight: 400;
}

.item__price {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1;
}

.item__sizes {
  color: #898989;
}

.item__row {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 20px;
  justify-content: flex-start;
}

.item__row--center {
  align-items: center;
}

.item__desc {
  grid-column: 1/-1;
}

.item__content {
  padding-top: 50px;
}

.item__content h3 {
  margin: 25px 0 5px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.item__content p {
  margin: 0 0 20px;
  font-size: 16px;
  line-height: 28px;
  color: #222;
  font-weight: 300;
}

.item__content a {
  border-bottom: 2px dashed #222;
  transition: all 0.2s ease;
  font-size: 14px;
  line-height: 22px;
  color: #222;
}

.item__content a:focus,
.item__content a:hover {
  border-color: transparent;
}

.item__button {
  min-width: 200px;
}

.social {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.social__item+.social__item {
  margin-left: 30px;
}

.social__link {
  transition: all 0.2s ease;
  color: #d9d9d9;
}

.social__link:focus-visible,
.social__link:hover {
  color: var(--color-primary);
}

.social__link:active {
  color: #150c26;
}

.footer__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 60px;
  border-top: 1px solid #e9e9e9;
}

.footer__link {
  font-size: 14px;
  line-height: 24px;
  color: #222;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease;
}

.footer__link:focus,
.footer__link:hover {
  border-color: var(--color-primary);
}

.footer__link--medium {
  font-weight: 500;
}

.footer__links {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: var(--grid-gap);
}

.footer__desc {
  margin: 30px 0 37px;
  font-size: 14px;
  line-height: 24px;
  color: #9d9d9d;
}

.footer__social {
  margin-left: auto;
  align-self: flex-start;
}

.footer__copyright {
  grid-row: 3/4;
  align-self: flex-end;
  font-size: 12px;
}

.footer__data {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  justify-content: space-between;
  grid-column: 2/3;
  grid-row: 3/4;
}

/* spinner */
.lds-dual-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  width: 80px;
  height: 80px;
  transform: translate(-50%, -50%);
  opacity: 0.5;
}

.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid var(--color-primary);
  border-color: var(--color-primary) transparent var(--color-primary) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* lds spinner */
.lds-spinner {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  transform: translate(-50%, -50%);
}

.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #eee;
}

.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}